{% extends "base.html" %}
{% block content %}
    <h1>42 Coffee Cups Test Assignment</h1>

    {% if form %}
    <form method="post" enctype="multipart/form-data" action=".">
    {% csrf_token %}
    {% endif %}

    {% for render in renders %}
    <div class="tab">
    <ul>
        {% for item in render %}
            <li>

            <span {% if item.multiline %}class="multiline"{% endif %}>{{ item.label }}: </span>

            {% ifequal item.label 'Photo' %}
                {% autoescape off %}
                {{ item.value }}
                {% endautoescape %}
            {% else %}
                <i>{{ item.value }}</i>
            {% endifequal %}
            
            {% if item.errors %}
            <ul class="error">
                {% for error in item.errors %}
                    <li>*{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            </li>
        {% endfor %}
    </ul>
    </div>
    {% endfor %}

    <div class="clear"></div>

    {% if form %}
    <div class="but">
        <input type="submit" value="Okay">
    </div>
    </form>
    {% else %}
    <div class="but">
        {% if user.is_authenticated %}
        <a href="/edit/">edit</a>
        {% else %}
        <a href="/edit/">login and edit</a>
        {% endif %}
        <a href="/http/">request</a>
    </div>
    {% endif %}
{% endblock %}
