{% extends "base.html" %}

{% block script %}
{% if form %}
    <link rel="stylesheet" href="/static/css/custom-theme/jquery-ui-1.8.18.custom.css" type="text/css" />
    <script type="text/javascript" src="/static/jquery-1.7.min.js" ></script>
    <script type="text/javascript" src="/static/jquery.form.js" ></script>
    <script type="text/javascript" src="/static/jquery-ui-1.8.18.custom.min.js" ></script>
    <script type="text/javascript" src="/static/custom.js" ></script>
{% endif %}
{% endblock %}

{% block content %}
    <h1>42 Coffee Cups Test Assignment</h1>

    {% if form %}
    <form method="post" enctype="multipart/form-data" action=".">
    {% endif %}
    <div class="mod">
    {% include "content.html" %}
    </div>

    <div class="clear"></div>

    {% if form %}
    <div class="but">
        <input type="submit" value="Okay">
        <div class="mess"></div>
    </div>
    </form>
    {% else %}
    <div class="but">
        {% if user.is_authenticated %}
        <a href="/edit/">edit</a>
        {% else %}
        <a href="/edit/">login and edit</a>
        {% endif %}
        <a href="/http/">request</a>
    </div>
    {% endif %}
{% endblock %}
