body{
    width: 800px;
    margin : 0 auto;
}

li{
    list-style-type: none;
}

ul{
    padding: 0px;
    margin: 0px;
}

div.tab{
    float: left;
    width: 400px;
}

span.multiline{
    display: block;
    margin-top: 15px;
}

div.clear{
    clear: both;
}

ul.error{
    color: red;
    font-size: 11px;
    margin-bottom: 10px;
}

td{
    padding:0px 20px;
}

div.but{
    margin-top: 20px;
}

a{
    margin-right: 15px;
}

img{
    display:block;
    width:370px;
}
